.confirm-page {
    margin-bottom: 5rem;
}

.confirm-text {
    padding-bottom: 2rem;
    text-align: center;
}

.wpcf7-mail-sent-ok {
display: none !important;
}

div.wpcf7 .ajax-loader {
    display: none !important;
}
