// font-color
$base-font-color:#333333;
$title-font-color:#301F1B;
$date-color:#666666;

// color
$base-brown-color:#421f15;
$base-red-color:#c63205;
$base-white-color:#ffffff;
$comment-bg:#FEFAE6;

// pagenation
$pagenation-color:#1A1A1A;
$pagenation-text:#F4D102;
