//font-family
$base-font-family:"ヒラギノ角ゴ", "メイリオ", sans-serif;
$english-font-family:"futura-pt", sans-serif;

// 文字サイズ
$title-size:2.1rem; /* 34px */
$bigText-size:1.3rem;  /* 20px */
$medium-size:1.1rem;
$normal-size:1rem;
$small-size:0.8rem;
$s-small-size:0.75rem;
